/* Styles */

main {
    margin: 0;
}

.header {
  position: relative;
  margin-bottom: 50px;
}

.header--overview {
    position: absolute;
    top: 100px;
    z-index: 1;
}
.header--title {
    width: 100%;
}

.header-description {
    width: 100%;
}

video {
    object-fit: cover;
    width: 100%;
    height: 400px;
}