/* Styles */

main {
    margin: 0;
}

.header--title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 150px;
}

.header-description {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 225px;
}

video {
    object-fit: cover;
    width: 100%;
}