<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Design Research Is</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/application.css">
    <script src="//use.typekit.net/eyv4aoy.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

  <body>

      {{ content }}

  </body>
</html>
